* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.app {
  background-image: url('./assets/cold2-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-in-out;
}

.app.warm {
  background-image: url('./assets/warm2-bg.jpg');
}

.app.rainy {
  background-image: url('./assets/rainy-bg.jpg');
}

.app.clear-sky {
  background-image: url('./assets/clear-bg.jpg');
}

.app.few-clouds {
  background-image: url('./assets/few-clouds-bg.jpg');
}

.app.scattered-clouds {
  background-image: url('https://images.unsplash.com/photo-1642447733831-2cdd9f5efae7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1288&q=80');
}

.app.broken-clouds {
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ba52bbb6-d760-4478-b826-f3e2298dcbcc/d8ixdlv-9809d1d7-08ee-4436-b39f-d75cf7a5c9e5.jpg/v1/fill/w_1024,h_768,q_75,strp/broken_clouds_by_leo_6tos_d8ixdlv-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzY4IiwicGF0aCI6IlwvZlwvYmE1MmJiYjYtZDc2MC00NDc4LWI4MjYtZjNlMjI5OGRjYmNjXC9kOGl4ZGx2LTk4MDlkMWQ3LTA4ZWUtNDQzNi1iMzlmLWQ3NWNmN2E1YzllNS5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.0BJ5G7JjsTMXZSZMhz9Jac8bDng3Hxf01Qyx2QIejBQ');
}

.app.shower-rain {
  background-image: url('https://images.pexels.com/photos/3394939/pexels-photo-3394939.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.app.thunderstorm {
  background-image: url('https://images.unsplash.com/photo-1538169204832-1b461add30a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
}

.app.mist {
  background-image: url('https://images.unsplash.com/photo-1543968996-ee822b8176ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80');
}

.app.haze {
  background-image: url('https://images.unsplash.com/36/STzPBJUsSza3mzUxiplj_DSC09775.JPG?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1161&q=80');
}

.app.overcast-clouds {
  background-image: url('https://images.unsplash.com/photo-1481775463278-e311185e1786?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.85));
  padding: 25px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
  
  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  /* margin-top: -25px; */

  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 1.2rem;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;

  padding: 15px 25px;

  color: #fff;
  font-size: 6.4rem;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {   
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}